# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Test/data files
*.test
*.csv
*.doc
*.docx
*.txt
*.png
*.jpg
*.xlsx
*.pdf
*.p

# Output folder
output/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VisualStudioCode
.vscode/*
