# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Test/data files
*.test
*.csv
*.doc
*.docx
*.txt
*.png
*.jpg
*.xlsx
*.pdf

# Output folder
output/
