# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Test/data files
*.test
*.csv
*.doc
*.docx
*.txt
*.png
*.jpg
*.xlsx
*.pdf
*.p

# Output folder
output/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VisualStudioCode
.vscode/*

!requirements.txt