{% extends "layout.html" %}
{% block body %}

<h1>Claim Chart Generator</h1>
<h2>Upload New File</h2>
<h3>(File upload takes precedence)</h3>
<h3>(Sample claims from the <a href="https://www.freepatentsonline.com/5184830.pdf" target="_blank">Game Boy patent</a>)</h3>
<form method=post enctype=multipart/form-data>
  <div>Paste claims text here:</div>
  <input type="button" value="Clear" onclick="javascript:eraseText();"> 
  <br>
  <textarea id="claims-text" name="claims-text" rows="10" cols="100">
    1. A hand-held electronic game machine, comprising:
    a case of a size which may be held by hand and having a subsonically rectangularly shape defined by a front surface, a rear surface, two latitudinal side surfaces, a lower side surface and an upper side surface, each of said two longitudinal side surfaces being of greater length than each of said lower side surface and said upper side surface, said case being sandwiched by both hands during game play, said front surface having an upper front surface portion bounded by an upper portion of each of said longitudinal side surfaces and a lower front surfaced portion bounded by a lower portion of each of said longitudinal side surfaces;
    
    a first operation switch disposed on a right portion of said lower front surface portion of said case such that during game play it can be operated by a thumb of a player's right hand sandwiching said case;
    
    a second operation switch disposed on a left portion of said lower front surface portion of said case such that during game play it can be operated by a thumb of a player's left hand sandwiching said case;
    
    a dot-matrix liquid crystal display panel including a display screen defining a matrix of rows and columns of dots disposed on said upper front surface portion such that in use said display shown is positioned above said first operation switch and said second operation switch;
    
    an insertion portion formed on said upper side surface of said case and extending, in use, behind said dot-matrix liquid crystal display panel in said case;
    
    an external memory attachably and detachably insertable into said insertion portion from said upper side surface of said case for storing a game program and background character data and moving object character data with which images for a game are displayed on said display screen;
    
    game processing means housed in said case for reading said game program and said background character data and moving object character data from said external memory and controlling the display of moving objects on said display screen in response to the actuation of said first operation switch and said second operation switch and for controlling the display of background characters on said display screen;
    
    a connector housed in said case for connecting said external memory being inserted in said insertion portion to said game processing means;
    
    a memory housed in said case and associated with said game processing means for storing said background character data and said moving object character data read from said external memory by said game processing means and transferred through said connector;
    
    display signal generating means housed in said case for generating display signals for displaying background characters and moving objects on the basis of said background character data and said moving object character data stored in said memory;
    
    a driver for driving said dot-matrix liquid crystal display panel in response to said display signals generated by said display signal generating means to display said background characters and said moving objects on said display screen, said driver including a first driver for driving said dot-matrix liquid crystal display panel in columns and a second driver for driving said liquid crystal display panel in rows.
    
    
    
    2. A hand-held electronic game machine in accordance with claim 1, further comprising third operation switch means disposed in a central region of said lower front surface portion, such that in use the third operation switch means is disposed where loci of the thumbs of both hands intersect each other on the front surface of said case,
    said game processing means being responsive to said third operation switch means to start a game, cause the operation of the game to pause, or to select the kind of game to be played.
    
    
    
    3. A hand-held electronic game machine in accordance with claim 2, wherein said third operation switch means includes two switches one of which is included in a locus of the thumb of said right hand and with said first operation switch and the other of which is included in a locus of the thumb of said left hand and said second operation switch.
    
    4. A hand-held electronic game machine in accordance with claim 1, wherein said display panel is disposed above and between said first operation switch and said second operation switch.
    
    5. A hand-held electronic game machine in accordance with claim 4, further comprising a rotational knob provided in the vicinity of said liquid crystal display panel at one of said longitudinal side surfaces of said case to control the display contrast.
    
    6. A hand-held electronic game machine in accordance with claim 1, wherein said game processing means includes means responsive to a connected external memory for detecting whether said connected memory is an authorized or unauthorized memory.
    
    7. A hand-held electronic game machine in accordance with claim 6 wherein the game processing means includes further means responsive to said detecting means for preventing an unauthorized external memory from being used for executing a game program.
    
    8. A hand-held electronic game machine in accordance with claim 1, further comprising a contrast knob arranged at said upper portion of one of said longitudinal side surfaces of said case and means for changing contrast on said display screen in response to operation of said contrast knob.
    
    9. A hand-held electronic game machine, comprising:
    a case of a size which may be held by hand;
    
    said case having a substantially rectangularly front surface having a game display related first half portion and game control related second half portion;
    
    a dot-matrix liquid crystal display having a display screen mounted in said game display related first half portion for displaying moving objects and background characters during game play, said display means including a display panel mounted in said display related first half portion;
    
    first and second game control switches mounted in said game control related second half portion of said substantially rectangular front surface for controlling the position of displayed moving objects on said display screen;
    
    a removable external memory for storing a game program and moving object character data and background character data with which images for a game are displayed, said case including an insertion port for receiving said removable external memory;
    
    memory means, disposed within said case and being coupled to said removable external memory means, for receiving background character data and moving object data from said external memory and for storing said background character data and moving object data; and
    
    processing means, coupled to said removable external memory and said memory means, for executing said game program stored in said external memory for controlling the display of moving objects on said display screen of said dot-matrix liquid crystal display in response to the actuation of said first and second game control switches and for controlling the display of background characters on said display screen.
    
    
    
    10. A hand-held electronic game machine in accordance with claim 9, further comprising third game control switch means disposed in a central region of said game control related second half portion such that, in use, the third game control switch means is disposed where loci of a player's thumbs of both hands intersect each other on the front surface of said case,
    said processing means being responsive to said third game control switch means to start a game, cause the operation of the game to pause, or to select the kind of game to be played.
    
    
    
    11. A hand-held electronic game machine in accordance with claim 9, wherein said display screen is disposed, in use, above and between said first game control switch and said second game control switch.
    
    12. A hand-held electronic game machine in accordance with claim 9, further comprising contrast control means, provided on a side surface of said case, for controlling the display screen contrast and means for changing the contrast of said display panel in response to the operation of said contrast control means. is disposed above and said first operation switch and said second operation switch.
    
    13. A hand-held electronic game machine according to claim 9, further comprising
    display signal generating means housed in said case and coupled to said processing means, for generating display signals on the basis of said background character data and said moving object character data stored in said memory means; and
    
    a driver for driving said dot-matrix liquid crystal display screen in response to said display signals generated by said display signal generating means to display background characters and moving objects for a game on said display screen of said dot-matrix liquid crystal display screen.
    
    
    
    14. A hand-held electronic game machine in accordance with claim 9, wherein said processing means includes detecting means responsive to a connected external memory for detecting whether said connected external memory is an authorized or unauthorized memory.
    
    15. A hand-held electronic game machine in accordance with claim 14 wherein the processing means includes further means responsive to said detecting means for preventing an unauthorized external memory from being used for executing a game program.
    
    16. A hand-held electronic game machine in accordance with claim 9, wherein said insertion portion is disposed beneath said dot-matrix liquid crystal display screen.
    
    17. A hand-held electronic game machine, comprising:
    a case of a size which may be held by hand, said case having a front surface and side surfaces;
    
    a dot-matrix liquid crystal display panel having a display screen mounted on said front surface;
    
    a removable external memory for storing a game program and moving object character data and background character data with which images for a game are displayed;
    
    an insertion portion for receiving said removable external memory;
    
    first and second game control switches for controlling the position of moving objects displayed on said display screen of said dot-matrix liquid crystal display screen;
    
    processing means coupled to said first and second game control switches and to said removable external memory for accessing said game program and said moving object character data and background character data to execute said game program;
    
    display memory means for receiving and storing moving object character data and background character data, indicative of character data to be displayed on said display screen of said dot-matrix liquid crystal display screen from said removable external memory, said display memory means including video memory means for storing data corresponding to a plurality of display screens;
    
    register means addressable by said processing means, for selecting the portion of said video memory means to be accessed for display; and
    
    display control means coupled to said dot-matrix liquid crystal display screen and said display memory means for displaying data on said display screen corresponding to the portion of said video memory means selected by said register means.
    
    
    
    18. A hand-held electronic game machine according to claim 17, wherein said insertion port is disposed in one of said side surfaces.
    
    19. A hand-held electronic game machine according to claim 17, wherein said display panel is mounted in an upper half portion of said front surface and said first and second game control switches are mounted in a lower half portion of said front surface.
    
    20. A hand-held electronic game machine in accordance with claim 17, further including a control knob disposed on one of said side surfaces and means for adjusting the display panel intensity in response to said control knob.
    
    21. A hand-held electronic game machine according to claim 17, further including an internal ROM, coupled to said processing means, for storing security related data, means for accessing said security related data immediately after power is turned on, said processing means including means for executing an authentication routine using said security related data to determine if said external memory is authentic.  </textarea>
  
  <br>
  <div>Or upload a txt file:</div>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
{% if image %}
  <img src="data:image/jpeg;base64,{{ image }}">
{% endif %}
{% if snippet %}
  <p style="white-space: pre-line"> {{ snippet }} </p>
{% endif %}
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
-->
<script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>

{% endblock %}

